import urllib.parse


class Config:
    class Google:
        Key = 'INSERT_KEY_HERE'

    class MapBox:
        Key = 'INSERT_KEY_HERE'
        Styles = {
            'MapBox': 'INSERT_USER_HERE/INSERT_ID_HERE',
            'MapBox Satellite': 'INSERT_USER_HERE/INSERT_ID_HERE',
        }

    class GraphHopper:
        Key = 'INSERT_KEY_HERE'

    class Tree:
        RefreshDirectory = False

        Items = [
            {
                'type': 'group',
                'name': 'Tracks',
                'items': [
                    {
                        'type': 'editable'
                    }
                ]
            },
            {
                'type': 'group',
                'name': 'Maps',
                'items': [
                    {
                        'type': 'group',
                        'name': 'Google StreetView',
                        'items': [
                            {
                                'type': 'raster',
                                'name': 'Streets',
                                'uri': f'type=xyz&url={urllib.parse.quote('https://mts2.google.com/mapslt?lyrs=svv&x={x}&y={y}&z={z}&w=256&h=256&hl=en&style=40,18', safe=':/{}?=%')}',
                            }
                        ]
                    },
                    {
                        'type': 'raster',
                        'name': 'Bing Satellite',
                        'uri': f'type=xyz&url={urllib.parse.quote('http://ecn.t3.tiles.virtualearth.net/tiles/a{q}.jpeg?g=0&dir=dir_n', safe=':/{}?=&')}',
                    },
                    {
                        'type': 'raster',
                        'name': 'Google Hybrid',
                        'uri': f'type=xyz&url={urllib.parse.quote('https://mt1.google.com/vt/lyrs=y&x={x}&y={y}&z={z}', safe=':/{}?=%')}',
                    },
                    {
                        'type': 'raster',
                        'name': 'Google Satellite',
                        'uri': f'type=xyz&url={urllib.parse.quote('https://mt1.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', safe=':/{}?=%')}',
                    },
                    {
                        'type': 'raster',
                        'name': 'Google Terrain',
                        'uri': f'type=xyz&url={urllib.parse.quote('https://mt1.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', safe=':/{}?=%')}',
                    },
                    {
                        'type': 'raster',
                        'name': 'OpenStreetMap',
                        'uri': f'type=xyz&url={urllib.parse.quote("https://tile.openstreetmap.org/{z}/{x}/{y}.png", safe=":/{}?=%")}',
                    }
                ]
            }
        ]
